<html>
<head><title>Snowball credit demo</title>
<script>
   var require={
      paths:{jquery:"//code.jquery.com/jquery-latest.min",
            angular:"//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular",
            angularCookie:"//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.min"
            },
      shim:{
           angular:{exports:'angular'},
           angularCookie:{deps:['angular']}
           }
   
   };
</script>
<script src="jscript/require.js" data-main="js/main.js"></script>
</head>
<body ng-controller="CurrentCreditorCtrl">

<link href="snowball.css" rel="stylesheet">

<h3 ng-class="shortDescription"><button ng-click="toggleIKnowThis()">What was this again?</button></h3>
<h3 ng-class="longDescription">What is
  this?  <button ng-click="toggleIKnowThis()">I know this</button></h3>
<p ng-class="longDescription">
    This program is a demonstration of a strategy of paying down creditors.
    It's called the 'Snowball' method, because you start out small; every
    creditor is payed the minimum amount, except for the <i>smallest</i>.
    That one gets an additional seed amount.  Once it's payed off, the entire
    amount (the seed+the minimum payment) becomes the new seed, and is payed
    to the <i>next</i> smallest on top of <i>its</i> minimum.  By doing this,
    your budget towards that group remains constant until all creditors are
    zeroed out.  (creditor A's min pay, .. creditor Z's min pay, plus the
    seed).  By doing this, you end up with the largest creditor being payed an
    enormous amount per month and not minding, because that money has already
    been set aside.<br/>
<br/>
To start out, enter in the creditors' names one at a time in the box below.
    After hitting enter on a name, that creditor's entry is added to your
    list.  This program does not use a server; your data stays on your
    browser, and persists there if it can, if the browser supports local
    storage.  Once your list is filled out, adjust the cells of the account
    column to match the current balance you have with each creditor, and set
    the minimum payments as well.  The monthly charge column is probably not
    constant in reality; this program treats it as constant, as a first
    approximation.  As long as it doesn't rise over time, the predictions this
    program makes should at least hold.<br/>
<br/>
After that, adjust the month and year to when you'd like to start the plan.  
Once finished, try clicking the 'Run Plan' button with 'Snowball Strategy' set
    to 'No'.  This will output a list of rows in the result area.  Pay
    attention to the end date of the last row.  That is when the last creditor
    is payed down if you only payed the minimum payments, and didn't 'roll'
    the payments.<br/>
<br/>
Now, without entering a seed, try with the 'Snowball Strategy' set to 'Yes'.
    Even without a seed, it's still much quicker, because you aren't reducing
    your total payment when accounts are paid off.<br/>
<br/>
Try playing around with different seed amounts, and see how it affects the
    ending date.  Good luck!
   
</p>

    <table>
      <tr>
	<td>
	  Starting Month: <select ng-model="currentMonth" ng-default=0>
	    <option value=0 selected>Jan</option>
	    <option value=1>Feb</option>
	    <option value=2>Mar</option>
	    <option value=3>Apr</option>
	    <option value=4>May</option>
	    <option value=5>Jun</option>
	    <option value=6>Jul</option>
	    <option value=7>Aug</option>
	    <option value=8>Sep</option>
	    <option value=9>Oct</option>
	    <option value=10>Nov</option>
	    <option value=11>Dec</option>
                          </select> / <input type=text ng-model="currentYear" id="currentYear"
	  length=4 size=4><br/>
	  Seed cash: <input type=text ng-model="seedCash" id="seedCash"><br/>
          <table id="current" cellspacing=0>
	    <tr class='heading'>
	      <td>Delete</td>
	      <td>Name</td>
	      <td>Current Balance</td>
	      <td>Minumum Payment</td>
	      <td>Monthly charge</td>
	    </tr>
	    <tr class="Creditor" 
		ng-repeat="creditor in creditors">
	      <td class="deleteMe" ng-click="deleteMe($index)">X</td>
	      <td class="creditorName"><input type=text ng-model="creditor.Name"></td>
	      <td class="creditorAccount"><input type=text size=6 ng-model="creditor.account"></td>
	      <td class="creditorMinpay"><input type=text size=5 ng-model="creditor.minpay"></td>
	      <td class="creditorCharge"><input type=text size=5 ng-model="creditor.monthly_charge"></td>
	    </tr>
          </table>
	  <form ng-submit="addNewCreditor()">
	    <input type=text ng-model="NewCreditorName" placeholder="New Creditor"><br/></form>
	  <form ng-submit="runPlan()">
	    Use Snowball Strategy?<br/>
            <input type="radio" ng-model="snowBall" value="yes" checked>Yes
            <input type="radio" ng-model="snowBall" value="no">No<br/>  
	    <input type=submit value="Run Plan">
          </form>
	</td>
      </tr>
      <tr>
	<td>
	  <button id='expandAll'>Expand
	  All</button><button id='collapseAll'>Collapse All</button>
	  <table id="outcome" cellspacing=0>

  <tr ng-repeat='row in outcome' class='collapsable collapsed'>
    <td>
      <div class='collapseToggle'><image src='images/arrow-left.png' id='arrow'></div>
    </td>
    <td><span class="timeSpan">{{row.startingName}} -
    {{row.endingName}}</span>&nbsp;
      <span class="accounts_display">{{row.numAccounts}} accounts</span><br/>
      <table class='detail' cellspacing=0>
        <tr class='heading'>
	  <td>Name</td>
	  <td>Balance at start of term</td>
	  <td>Payment</td>
	<tr>
	<tr ng-repeat="creditor in row.table" class="outcomeDetail">
	  <td class="creditorName">{{creditor.Name}}</td>
	  <td class="creditorAccount">{{creditor.account | currency}}</td>
	  <td class="creditorPay">{{creditor.pay | currency}}/month</td>
	</tr>
      </table>
    </td>
  </tr>

	  </table>
	</td>
      </tr>
    </table>


</body>
</html>
